@use "@/styles/color" as color;
@use "@/styles/mixin" as mq;

.content_wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 1120px;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    align-items: flex-start;
    @include mq.sp {
        flex-direction: column;
        margin-top: 20px;
    }
}

.h1 {
    font-size: 24px;
    max-width: 80%;
    @include mq.sp {
        font-size: 20px;
        max-width: 100%;
    }
}
.date {
    font-size: 14px;
    display: block;
    @include mq.sp {
        font-size: 12px;
        margin-left: auto;
        margin-bottom: 8px;
    }
}
.title_area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    margin-bottom: 20px;
    @include mq.sp {
        flex-direction: column-reverse;
        align-items: flex-start;
        width: 96%;
        margin-right: auto;
        margin-left: auto;
    }
}
.article_wrapper {
    width: 740px;
    max-width: 100%;
}
.article_area {
    padding: 24px;
    background-color: #f5f3f1;
    border-radius: 5px;
    @include mq.sp {
        padding: 16px 0px;
    }
}
.article {
    font-size: 16px;
    line-height: 2;
    width: 100%;
    @include mq.sp {
        font-size: 14px;
        line-height: 1.5;
        width: 96%;
        margin-right: auto;
        margin-left: auto;
    }
    p {
        margin-bottom: 60px;
        @include mq.sp {
            margin-bottom: 30px;
        }
    }
}
