@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
    /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    /* background-color: #14161e; */
    background-color: #fcfcfc;
    color: #23234b;
}
.body {
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif, "Noto Sans Emoji", "Noto Sans", "Noto Sans CJK JP";
}

.page_content_wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 1120px;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    align-items: flex-start;
}
@media (max-width: 768px) {
    .page_content_wrapper {
        margin-top: 20px;
        flex-direction: column;
    }
}
